<!doctype html>
<html>
<head>
    <title> {% block title %} TITLE GOES HERE {% endblock %} </title>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js">
    </script>
</head>
<body>

<!-- NAVIGATION BAR --> <!-- NAVIGATION BAR --> 

<!-- LOGIN/LOGOUT-->
{% if "user_id" in session %}
    <a href="/logout">Logout</a>
{% else %}
    <a href="/login">Login</a>
    <a href="/register">Register</a>
{% endif %}

<!-- FLASH MESSAGE -->
{% for flash in get_flashed_messages() %}
  {{ flash }}
{% endfor %}

<!-- END NAVIGATION BAR --> <!-- END NAVIGATION BAR -->

<!-- CONTENT -->
<hr>

{% block content %}
    CONTENT GOES HERE
{% endblock %}

</body>
</html>