{% extends 'base.html' %}

{% block title %} Dashboard {% endblock %}

{% block content %}

<div class="container">
    <div class="page-header">
      <h2 class="text-center"> Dashboard </h2>
    </div>
</div>

<div class="container">
  <!-- PROGRESS BAR -->
  <div class="progress-status text-center"> Step 1: Create a new grocery list </div>
  <div class="progress">
    <div id="progress-bar" class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width:2%">
    </div>
  </div>
</div>

<div class="container">
  <div class="row">

    <div class="col-md-6">
  
    <!-- RECIPE SEARCH FORM -->
    <form action="/dashboard.json" id="search-result" class="text-center">
      Search Recipe: <input type="text" id="recipe-search">
      <input type="number" id="search-quantity" value="10" min="1" max="20">
      <button type="submit" id="submit-search"> <span class="glyphicon glyphicon-search"></span></button>
    </form>

    <!-- RECIPE SEARCH RESULTS -->
    <br><br>
    <div id="recipes" class='text-center'> </div> <br>
    </div>

  <div class="col-md-6">

    <!-- CREATE NEW LIST -->
      <form action="/new-list.json" id="new-list" class="text-center">
        Create New List: <input type="text" id="new-list-name">
        <button type="submit" value="submit"> <span class="glyphicon glyphicon-plus"></span></button>
      </form>

    <!-- DISPLAYS EXISTING LISTS -->
    <div class="btn-group text-center" role="group">
      <span id='user-lists'> <br>
          {% for lst in grocery_list_info %}
            <button type='button' class='btn btn-default user-list' data-list-id='{{ lst[0] }}'> {{ lst[1] }} </button>
          {% endfor %} 
    </div>
      </span> <br>

      <input type='hidden' id='list-activation-handler' value='1'>

    <!-- Status bar -->
    <br> <br> <div id='status-alert'> </div>

    <!-- DISPLAYS CURRENT LIST'S INGREDIENTS -->
    <br> <h4 class="text-center"> Current Grocery List </h4> </p>
    <div id='grocery-lists'>
      {% for lst in grocery_list_info %}
        <div class='grocery-list' id='{{ lst[0] }}' data-list-id='{{ lst[0] }}'>
          {% for aisle in grocery_list_info[lst] %}
            <div class='aisle' data-aisle-name='{{ aisle[1] }}'> 
              <ul id='{{lst[0]}}-{{aisle[0]}}'> {{ aisle[1] }}
                {% for ingredient in grocery_list_info[lst][aisle] %}
                  <li> {{ ingredient['ing_qty'] }} {{ ingredient['ing_unit'] }}
                  {{ ingredient['ing_name'] }} </li>
                {% endfor %}
            </div>
          {% endfor %} 
        </div>
      {% endfor %} 
    </div>

  </div>
</div>
</div>

  <!-- IMPORT AJAX FILES -->
  <script src="/static/js/search-result.js" type="text/javascript"></script>
  <script src="/static/js/bookmark-recipe.js" type="text/javascript"></script>
  <script src="/static/js/new-list.js" type="text/javascript"></script>
  <script src="/static/js/toggle-list-activation.js" type="text/javascript"></script>
  <script src="/static/js/add-ingredients-to-list.js" type="text/javascript"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.1/Chart.js"></script>

{% endblock %}