{% extends 'base.html' %}

{% block title %} Recipe Info {% endblock %}

{% block content %}

<div class="container">
  <h2> {{ title }} </h2>

  <img src={{ img }}> <br>

  <!-- CUISINE -->
  <h5> Cuisines:</h5>
  {% for cuisine in cuisines %}
    {{ cuisine }} | 
  {% endfor %} <br> <br>

  <!-- INGREDIENT LIST -->
  <h5> Ingredients: </h5>
  {% for ingredient in ingredients %}
    {{ ingredient['originalString'] }} <br>
  {% endfor %} <br>

  <!-- COOKING INSTRUCTIONS -->
  <h5> Cooking instructions: </h5> {{ cooking_instructions }} <br> <br>

</div>

{% endblock %}