{% extends 'base.html' %}

{% block title %} Recipe Info {% endblock %}

{% block content %}

<div class="container">
  <div class="page-header">
    <h2 class="text-center"> {{ title }} </h2> 
    <button onclick="goBack()">
      <span class='glyphicon glyphicon-chevron-left'></span>
    </button> 
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <img src={{ img }} style=" vertical-align:middle;"> <br>
    </div>

    <div class="col-md-6">
      <!-- INGREDIENT LIST -->
      <h5> Ingredients: </h5>
      {% for ingredient in ingredients %}
        {{ ingredient['originalString'] }} <br>
      {% endfor %} <br>
    </div>
  </div>
</div>

<div class="container">
  <!-- COOKING INSTRUCTIONS -->
  <h5 class="text-center"> Cooking Instructions </h5> {{ cooking_instructions }} <br> <br>
</div>

<!-- JAVASCRIPT -->
<script>
  function goBack() {
    window.history.back();
  }
</script>

{% endblock %}